# load a `csv` file into sql

### Import the necessary libraries

In [1]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd

### 1. FROM workbench: create a database with the name `shoes`

In [3]:
# :)

### 2. Establish a connection to your database through python

In [2]:
password = getpass('Please enter pass here: ')

Please enter pass here: ········

In [3]:
dbName = 'shoes'

In [4]:
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

In [5]:
engine = alch.create_engine(connectionData)

### 3. Load the table **into pandas as a df**: from the datasets folder, get the `murallas.csv` file

In [8]:
df = pd.read_csv("C:/Users/maria/Desktop/lab-sql-seeding-db/data/murallas.csv", engine='python')

### 5. Drop un-wanted columns if they exist

In [14]:
df.drop(columns='Unnamed: 0', inplace=True)

In [15]:
df

,names,brand,price,links
0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...
5,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5948-new...
6,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5949-new...
7,New Balance 610,NEW BALANCE,120.00,https://www.murallasport.com/producto/6045-new...
8,Zapatilla Converse All Star Lift High Water-R...,CONVERSE,79.95,https://www.murallasport.com/producto/5584-zap...
9,Zapatilla Converse All Star Hi Water-Repellen...,CONVERSE,80.00,https://www.murallasport.com/producto/5853-zap...
10,Zapatilla Converse Lift Hi Suede,CONVERSE,84.95,https://www.murallasport.com/producto/5578-zap...
11,Zapatilla Converse CTAS Lugged 2.0 Hi Gris,CONVERSE,85.00,https://www.murallasport.com/producto/5586-zap...
12,Zapatilla Converse Chuck Taylor Lift Hi Marrón,CONVERSE,90.00,https://www.murallasport.com/producto/5608-zap...
13,Zapatilla Mujer Converse Move Plat Stripe Knit...,CONVERSE,95.00,https://www.murallasport.com/producto/5455-zap...
14,Zapatilla Converse Chuck Taylor All Star Lift ...,CONVERSE,95.00,https://www.murallasport.com/producto/5587-zap...
15,Zapatilla Converse Run Star Hike Hi Gris,CONVERSE,110.00,https://www.murallasport.com/producto/5387-zap...
16,Zapatilla Converse Run Star Hike Hi Marrón,CONVERSE,110.00,https://www.murallasport.com/producto/5388-zap...
17,Zapatilla Converse Lugged 2.0 Caunter Climate ...,CONVERSE,120.00,https://www.murallasport.com/producto/5927-zap...
18,Zapatilla Vans Old Skool,VANS,64.00,https://www.murallasport.com/producto/5556-zap...
19,Vans Old Skool Platform Blanco,VANS,85.00,https://www.murallasport.com/producto/6047-van...
20,Zapatilla Vans Sk8-Hi Mte-1 Negro,VANS,96.00,https://www.murallasport.com/producto/5566-zap...
21,Zapatilla Puma Carina Lift TW Blanco,PUMA,56.00,https://www.murallasport.com/producto/5581-zap...
22,Zapatilla Puma Mayze Blanco,PUMA,88.00,https://www.murallasport.com/producto/5754-zap...
23,Zapatillas Puma Rider FV Blanco,PUMA,89.95,https://www.murallasport.com/producto/5749-zap...

### 4. Insert the `df` into your `shoes` database on SQL: use a **pandas method**. You'll need to pass some arguments: `name` & `con`

In [17]:
df.to_sql(con=engine, name='murallas', if_exists='replace')

24

### 5. From python, query the table back and call it `queried_df`

In [25]:
queried_df = pd.read_sql_query("""
SELECT *
FROM murallas
LIMIT 10;""", engine)

In [26]:
queried_df

,names,brand,price,links
0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...
5,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5948-new...
6,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5949-new...
7,New Balance 610,NEW BALANCE,120.00,https://www.murallasport.com/producto/6045-new...
8,Zapatilla Converse All Star Lift High Water-R...,CONVERSE,79.95,https://www.murallasport.com/producto/5584-zap...
9,Zapatilla Converse All Star Hi Water-Repellen...,CONVERSE,80.00,https://www.murallasport.com/producto/5853-zap...

### 6. Does it look okay? You may wantto get rid of the index. Re-run your code with another argument to prevent that from being created

In [23]:
df.to_sql(con=engine, name='murallas', if_exists='replace',  index=False)

24

### 7. Now, from python, drop the database AND the table. Reminder: selecting & insertying use different methods. one uses **pandas** and the other one just the **engine**.

In [27]:
engine.execute('''DROP DATABASE shoes''')

C:\Users\maria\AppData\Local\Temp\ipykernel_8576\3172308454.py:1: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  engine.execute('''DROP DATABASE shoes''')

### 8. Get your code and create a function.

`Tip`: Queries through python should be created one by one

In [33]:
def load_into_db (schema, table_name, file_path):
    """This function should: 
    1. Declare variables: password & connection string
    2. Establish the connection
    3. Run a create and a drop queries
    4. Insert table into schema
    5. Return some feedback: how many rows have been inserted. Retrieve the total rows from workbench
    and format it into a string.

    """
    #requesting pass
    password = getpass('Please enter pass here: ')
    #creating connection
    dbName = schema
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    #reading and editing csv
    df = pd.read_csv(file_path, engine='python')
    df.drop(columns='Unnamed: 0', inplace=True)
    #dropping table if exists in mysql to avoid errors
    engine.execute(f'''DROP TABLE IF EXISTS {table_name}''')
    #sending df to sql
    df.to_sql(con=engine, name='murallas', if_exists='replace',  index=False)
    #feedback with # rows added
    feedback = f'{len(df)} rows inserted into MySQL table {table_name}'
    #query to check table in mysql
    queried_df = pd.read_sql_query(f"""
                        SELECT *
                        FROM {table_name}
                        LIMIT 10;""", engine)
    return feedback, queried_df

### 9. Try to call the function more than once. Does it work? if so, success!

In [34]:
file_path = "C:/Users/maria/Desktop/lab-sql-seeding-db/data/murallas.csv"

In [35]:
load_into_db('shoes','murallas', file_path)

Please enter pass here: ········

('24 rows inserted into MySQL table murallas',
                                                names        brand   price
 0  Zapatilla Mujer Reebok Classic Leather SP   Bl...       ADIDAS   90.00  \
 1              Zapatilla Nike Zoom Air Fire   Blanco         NIKE  119.99
 2                                    New Balance 530  NEW BALANCE  110.00
 3              Zapatillla  New Balance CT302   Beige  NEW BALANCE  110.00
 4            Zapatilla Mujer New Balance 327   Beige  NEW BALANCE  114.00
 5                                    New Balance 327  NEW BALANCE  120.00
 6                                    New Balance 327  NEW BALANCE  120.00
 7                                    New Balance 610  NEW BALANCE  120.00
 8  Zapatilla  Converse All Star Lift High Water-R...     CONVERSE   79.95
 9  Zapatilla  Converse All Star Hi Water-Repellen...     CONVERSE   80.00

                                                links
 0  https://www.murallasport.com/producto/5477-zap...
 1  https://www.murallasport.com/producto/5998-zap...
 2  https://www.murallasport.com/producto/6229-new...
 3  https://www.murallasport.com/producto/5330-zap...
 4  https://www.murallasport.com/producto/5473-zap...
 5  https://www.murallasport.com/producto/5948-new...
 6  https://www.murallasport.com/producto/5949-new...
 7  https://www.murallasport.com/producto/6045-new...
 8  https://www.murallasport.com/producto/5584-zap...
 9  https://www.murallasport.com/producto/5853-zap...  )