# load a `csv` file into sql

### Import the necessary libraries

In [1]:
import pymysql
import sqlalchemy as alch # python -m pip install --upgrade 'sqlalchemy<2.0'
from getpass import getpass
import pandas as pd

### 1. FROM workbench: create a database with the name `shoes`

In [2]:
# :)

### 2. Establish a connection to your database through python

In [14]:
password = getpass("Please enter your password: ")

In [15]:
dbName = "shoes"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
engine = alch.create_engine(connectionData)

### 3. Load the table **into pandas as a df**: from the datasets folder, get the `murallas.csv` file

In [16]:
df = pd.read_csv('../../lectures/datasets/shoes.csv')

### 5. Drop un-wanted columns if they exist

In [17]:
df = df.drop(columns='Unnamed: 0')

### 4. Insert the `df` into your `shoes` database on SQL: use a **pandas method**. You'll need to pass some arguments: `name` & `con`

In [18]:
df.to_sql(con=engine, name='shoes', if_exists='replace')

24

### 5. From python, query the table back and call it `queried_df`

In [24]:
queried_df = pd.read_sql_query('SELECT * FROM shoes', engine)
queried_df

,index,names,brand,price,links
0,0,Zapatilla Mujer Reebok Classic Leather SP Bl...,ADIDAS,90.00,https://www.murallasport.com/producto/5477-zap...
1,1,Zapatilla Nike Zoom Air Fire Blanco,NIKE,119.99,https://www.murallasport.com/producto/5998-zap...
2,2,New Balance 530,NEW BALANCE,110.00,https://www.murallasport.com/producto/6229-new...
3,3,Zapatillla New Balance CT302 Beige,NEW BALANCE,110.00,https://www.murallasport.com/producto/5330-zap...
4,4,Zapatilla Mujer New Balance 327 Beige,NEW BALANCE,114.00,https://www.murallasport.com/producto/5473-zap...
5,5,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5948-new...
6,6,New Balance 327,NEW BALANCE,120.00,https://www.murallasport.com/producto/5949-new...
7,7,New Balance 610,NEW BALANCE,120.00,https://www.murallasport.com/producto/6045-new...
8,8,Zapatilla Converse All Star Lift High Water-R...,CONVERSE,79.95,https://www.murallasport.com/producto/5584-zap...
9,9,Zapatilla Converse All Star Hi Water-Repellen...,CONVERSE,80.00,https://www.murallasport.com/producto/5853-zap...
10,10,Zapatilla Converse Lift Hi Suede,CONVERSE,84.95,https://www.murallasport.com/producto/5578-zap...
11,11,Zapatilla Converse CTAS Lugged 2.0 Hi Gris,CONVERSE,85.00,https://www.murallasport.com/producto/5586-zap...
12,12,Zapatilla Converse Chuck Taylor Lift Hi Marrón,CONVERSE,90.00,https://www.murallasport.com/producto/5608-zap...
13,13,Zapatilla Mujer Converse Move Plat Stripe Knit...,CONVERSE,95.00,https://www.murallasport.com/producto/5455-zap...
14,14,Zapatilla Converse Chuck Taylor All Star Lift ...,CONVERSE,95.00,https://www.murallasport.com/producto/5587-zap...
15,15,Zapatilla Converse Run Star Hike Hi Gris,CONVERSE,110.00,https://www.murallasport.com/producto/5387-zap...
16,16,Zapatilla Converse Run Star Hike Hi Marrón,CONVERSE,110.00,https://www.murallasport.com/producto/5388-zap...
17,17,Zapatilla Converse Lugged 2.0 Caunter Climate ...,CONVERSE,120.00,https://www.murallasport.com/producto/5927-zap...
18,18,Zapatilla Vans Old Skool,VANS,64.00,https://www.murallasport.com/producto/5556-zap...
19,19,Vans Old Skool Platform Blanco,VANS,85.00,https://www.murallasport.com/producto/6047-van...
20,20,Zapatilla Vans Sk8-Hi Mte-1 Negro,VANS,96.00,https://www.murallasport.com/producto/5566-zap...
21,21,Zapatilla Puma Carina Lift TW Blanco,PUMA,56.00,https://www.murallasport.com/producto/5581-zap...
22,22,Zapatilla Puma Mayze Blanco,PUMA,88.00,https://www.murallasport.com/producto/5754-zap...
23,23,Zapatillas Puma Rider FV Blanco,PUMA,89.95,https://www.murallasport.com/producto/5749-zap...

### 6. Does it look okay? You may wantto get rid of the index. Re-run your code with another argument to prevent that from being created

In [29]:
queried_df = pd.read_sql_query('SELECT * FROM shoes', engine, index_col='index')

### 7. Now, from python, drop the database AND the table. Reminder: selecting & insertying use different methods. one uses **pandas** and the other one just the **engine**.

In [32]:
engine.execute('DROP TABLE shoes')

In [33]:
engine.execute('DROP DATABASE shoes')

### 8. Get your code and create a function.

`Tip`: Queries through python should be created one by one

In [43]:
def load_into_db (schema, table_name, df):
    dbName = schema
    password = getpass('Please insert your password: ')
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    df.to_sql(con=engine, name=table_name, if_exists='replace')
    total_rows = len(pd.read_sql_query(f'SELECT * FROM {table_name}', engine))
    return f'You have inserted in total {total_rows} rows'

### 9. Try to call the function more than once. Does it work? if so, success!

In [44]:
load_into_db('shoes', 'shoes', df)

'You have inserted in total 24 rows'